<div id="<%= dom_id dream %>">
  <p>
    <strong>Name:</strong>
    <%= dream.name %>
  </p>
   <p>
    <strong>Name:</strong>
    <%= dream.user.email%>
  </p>
  <p>
    <strong>Description:</strong>
    <%= dream.description %>
  </p>
  <p>
    <strong>Duration: min</strong>
    <%= dream.duration %>
  </p>
  <p>
    <strong>Price: $</strong>
    <%= dream.price %>
  </p>










  <p>
    <strong>Category :</strong>
    <%= dream.category.name %>
  </p>
  <%= dream.photo.attached? ? cl_image_tag(dream.photo.key) : image_tag("https://images.unsplash.com/photo-1536893827774-411e1dc7c902?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=464&q=80") %>
</div>
