<div id="<%= dom_id dream %>">
  <p>
    <strong>Name:</strong>
    <%= dream.name %>
  </p>
  <p>
    <strong>description:</strong>
    <%= dream.description %>
  </p>
  <p>
    <strong>duration:</strong>
    <%= dream.duration %>
  </p>
  <p>
    <strong>price:</strong>
    <%= dream.price %>
  </p>
</div>
