<div id="<%= dom_id dream %>">
  <p>
    <strong>Name:</strong>
    <%= dream.name %>
  </p>
  <p>
    <strong>Description:</strong>
    <%= dream.description %>
  </p>
  <p>
    <strong>Duration: min</strong>
    <%= dream.duration %>
  </p>
  <p>
    <strong>Price: $</strong>
    <%= dream.price %>
  </p>
  <p>
    <strong>Category :</strong>
    <%= dream.category.name %>
  </p>
</div>
