<h1>test show</h1>


<h2><%= @dream.name %></h2>
<h2><%= @dream.category.name %></h2>
<h2><%= @dream.description %></h2>
<h2><%= @dream.price %>CAD</h2>
<h2><%= @dream.duration %>hours</h2>
<h2><%= @dream.user.email %></h2>




<%= link_to 'Back', dreams_path %>
<%= link_to 'Home', root_path %>

