<h1>test show</h1>

<h2><%= @dream.category %> Dream's category</h2>
<h2><%= @dream.name %> Dream's name</h2>
<h2><%= @dream.description %> Dream's description</h2>
<h2><%= @dream.price %> Dream's price</h2>
<h2><%= @dream.price %> Dream's duration</h2>




<%= link_to 'Back', dreams_path %>
<%= link_to 'Home', root_path %>

