<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1532099514109-7d2d71629d82?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);">
  <div class="container">
    <h1>Louez le rêve de vos rêves</h1>
    <p>Ne subissez plus vos rêves, prenez le contrôle</p>
    <a class="btn btn-light button" href="dreams">Rêver</a>
  </div>
</div>

<div class="container">
  <h1>Nos rêves les plus populaires </h1>
  <div class="row row-cols-1 row-cols-md-3 g-4">
        <% dream = @dreams.find_by(id:136) %>
        <% dreamTwo = @dreams.find_by(id:125) %>
        <% dreamThree = @dreams.find_by(id:129) %>
    <div class="col">
      <div class="card rounded">
        <div class="card">

         <%= dream.photo.attached? ? cl_image_tag(dream.photo.key, width: 350, height: 200, crop: :fill, class:"card-img-top")  : image_tag("https://images.unsplash.com/photo-1536893827774-411e1dc7c902?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=464&q=80")%></div>
          <div class="text">
            <p>
              <strong>Catégorie:</strong>
              <%= dream.category.name %>
            </p>
            <p>
              <strong>Titre:</strong>
              <%= dream.name %>
            </p>
            <p>
              <strong>Prix:</strong>
              <%= dream.price%> $
            </p>
          </div>

        <%= link_to "Détails", dream, class:"btn btn-primary" %>
      </div>
    </div>

    <div class="col">
      <div class="card rounded">
        <div class="card">

         <%= dreamTwo.photo.attached? ? cl_image_tag(dreamTwo.photo.key, width: 350, height: 200, crop: :fill, class:"card-img-top")  : image_tag("https://images.unsplash.com/photo-1536893827774-411e1dc7c902?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=464&q=80")%></div>
          <div class="text">
            <p>
              <strong>Catégorie:</strong>
              <%= dreamTwo.category.name %>
            </p>
            <p>
              <strong>Titre:</strong>
              <%= dreamTwo.name %>
            </p>
            <p>
              <strong>Prix:</strong>
              <%= dreamTwo.price%> $
            </p>
          </div>

        <%= link_to "Détails", dreamTwo, class:"btn btn-primary" %>
      </div>
    </div>

     <div class="col">
      <div class="card rounded">
        <div class="card">

         <%= dreamThree.photo.attached? ? cl_image_tag(dreamThree.photo.key, width: 350, height: 200, crop: :fill, class:"card-img-top")  : image_tag("https://images.unsplash.com/photo-1536893827774-411e1dc7c902?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=464&q=80")%></div>
          <div class="text">
            <p>
              <strong>Catégorie:</strong>
              <%= dreamThree.category.name %>
            </p>
            <p>
              <strong>Titre:</strong>
              <%= dreamThree.name %>
            </p>
            <p>
              <strong>Prix:</strong>
              <%= dreamThree.price%> $
            </p>
          </div>

        <%= link_to "Détails", dreamThree, class:"btn btn-primary" %>
      </div>
    </div>
  </div>

</div>
