
<h1>Dreams to rent</h1>

<div id="locations">
  <% @user.locations.each do |location| %>
    <%= render location %>

  <% end %>
</div>

<%= link_to 'Home', root_path %>


<div id="rental">

  <% @user.locations_as_owner.each do |rent| %>
    <%= render rent %>
      <% rent.user != @user %>
        <%=link_to "Accepter", location_path(rent, status:'confirmed'), data:{turbo_method: :patch}, :onclick=>'myFunction()'%>

        <%=link_to "Refuser", location_path(rent, status:'declined'), data:{turbo_method: :patch}, :onclick=>'refuser()'%>
        <p id="accepte"></p>
        <p id="rejette"></p>
          <script>
            function myFunction() {
            document.getElementById("accepte").innerHTML = "Vous avez acceptez la location";
            alert("Vous avez acceptez la location");
           }
          </script>

          <script>
            function refuser() {
            document.getElementById("rejette").innerHTML = "Vous avez rejetez la location";
            alert ("Vous avez rejetez la location");
            }
          </script>
  <% end %>
</div>
