
<h1>Dreams I want to rent</h1>


<div id="locations">
  <% @user.locations.each do |location| %>
    <%= render location %>

  <% end %>
</div>

<h1>My dreams for rent</h1>


<div id="rental">

  <% @user.locations_as_owner.each do |rent| %>
    <%= render rent %>
      <% rent.user != @user %>
        <button onclick="myFunction()">Accepter</button>
        <button onclick="refuser()">Rejeter</button>
        <p id="accepte"></p>
        <p id="rejete"></p>
          <script>
            function myFunction() {
            document.getElementById("accepte").innerHTML = "Vous avez acceptez la location";
            alert("Vous avez acceptez la location");
           }
          </script>

          <script>
            function refuser() {
            document.getElementById("rejete").innerHTML = "Vous avez rejetez la location";
            alert ("Vous avez rejetez la location");
            }
          </script>
      <%# <%= link_to 'Update', root_path%>
        <%# <%= simple_form_for(@locations) do |f| %>
        <%# <%= f.input :status, collection: @statuses, include_blank: false %>
        <%# <%= f.submit %>
        <%# <% end %>
       <%# <% end %>
  <% end %>
</div>
