<h1>Dreams I want to rent</h1>

<div id="locations">
  <% @user.locations.each do |location| %>
    <%= render location %>

  <% end %>
</div>

<h1>My dreams for rent</h1>


<div id="rental">

  <% @user.locations_as_owner.each do |rent| %>
    <%= render rent %>
      <% if rent.user != @user %>
      <%= link_to 'Update', root_path%>
        <%# <%= simple_form_for(@locations) do |f| %>
        <%# <%= f.input :status, collection: @statuses, include_blank: false %>
        <%# <%= f.submit %>
        <%# <% end %>
       <% end %>
  <% end %>
</div>
